<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hear the Meme</title>
    <link rel="stylesheet" href="/css/memepage.css" />
  </head>
  <body>
    <img src='<%=memeUrl%>'>
  </body>
</html>