<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hear the Meme</title>
  <link rel="stylesheet" href="/css/memepage.css" />
</head>
<body>
  <div id="img-wrapper" style="display: absolute; left:30%"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    var memeUrl = '<%= memeUrl %>';
  </script>
  <script src="/js/meme.js"></script>
</body>
</html>