<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hear the Meme</title>
  <link rel="stylesheet" href="/css/meme.css" />
</head>
<body>
  <div id="meme-page">
    <h1 class="header">Meme Melody</h1>
    <div id="img-wrapper"></div>
    <h1 class="timer">3...</h1>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    var memeUrl = '<%= memeUrl %>';
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/0.12.63/Tone.js"></script>
  <script src="/js/meme.js"></script>
</body>
</html>