@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed|Barlow+Semi+Condensed|Fira+Sans+Condensed");

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
}
#search-js {
  position: relative;
  width: 100%;
  height: 100vh;
    /*background: linear-gradient(to top, #0cebeb, #20e3b2, #29ffc6);*/
  background-image: url("/img/brain.jpg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#text{
  text-align: center;
  color:white;
  
}
canvas.particles-js-canvas-el {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.home{
  position: absolute;
  width: 100%;
  height: 100%;
}

h1{
  position: absolute;
  display: block;
  top: 45%;
  left: 50%;
  color: #fff;
  width: 700px;
  margin: 0 auto;
  font-size: 90px;
  font-weight: 100;
  text-align: center;
  transform: translate(-50%,-50%);
}
input {
  background:none
}
input[type="text"] {
    border: 3px solid rgba(255,255,255,0.4);
    padding: 6px;
    width: 500px;
    top: 30px;
    left: 130px;
    z-index: 1;
    position: absolute;
    display: block;
    top: 65%;
    left: 50%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    transform: translate(-50%,-50%);
}

::placeholder {
    color: rgb(224, 207, 207);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(255, 255, 255);
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: rgb(255, 255, 255);
}