#meme {
    visibility: hidden;
    display: none;
}

#wrapper {
    display:flex;
    flex-wrap:wrap;
    /* margin-left: 15%; */
}

.splitImg {
    padding: 1px;
    background-clip: content-box;
    background-repeat: no-repeat;
}